body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
caption {
    text-align: center;
    font-weight: bold;
    font-size: 1.2em;
}
img {
    object-fit: contain;
    max-width: 60%;
    max-height: 60%;
}
th {
    width: 9%;
}
td {
    margin-top: 1%;
    margin-bottom: 1%;
    text-align: center;
    width: 27%;
}
td.cancella {
    width: 3%;
}
div.container-cart {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    margin-top: 1px;
    background-color: #0c4da1;
    height: 10%;
    color:white;
}
div.container-cart p.total {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    font-size: 1.2em;
}
div.container-cart a.order {
    margin-right: 0%;
    font-size: 0.5em;
}
div.container-cart button.btn {
    background-color: white;
    color: #0c4da1;
    border-color: #0c4da1;
}