div.accordion > button{
    background-color: #eee;
    color: rgb(47, 106, 235);
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
  }
  div.accordion > button:hover, div.accordion > button.selected{
    background-color: #43DFB0;
    color:#161718;
  }

  div.accordion > div {
    padding: 0 18px;
    display: none;
    overflow: hidden;
  }

